<%- include ("../partials/header") %>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/admin/create.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<div class="container" id="create">
    <h1>Creation of Timetable</h1> <br>
    <p>
        You can create a brand new timetable by entering the following details.
        Please note that the algorithm creates a basic time table which can be modified later on.
        After the creation of the timetable, you will be required to enter the student details.
        We have a number of options you can do this with -
            <li>Upload JSON document</li>
            <li>Upload CSV document</li>
            <li>Manually enter all the details</li>
    </p>
    <h6><span id="note">Note:</span> Only proceed when you have all the data required. Incomplete data
    will lead to an error in creation of the timetable. </h6>
    <br>
    <div id="car" class="carousel slide" data-interval="false">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#car" data-slide-to="0" class="active"></li>
          <li data-target="#car" data-slide-to="1"></li>
          <li data-target="#car" data-slide-to="2"></li>
          <li data-target="#car" data-slide-to="3"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
              <h2>1. Structure of Timetable</h2> <br>
              <form id="form1">
                  <div class="row">
                      <div class="col-sm-6">
                        <label>How many days in a week?</label>
                        <input class="form-control" type="number" id="daysinweek" name="daysinweek" min="1" max="7">
                      </div>
                    <div class="col-sm-6">
                        <label>How many hours in a day?</label>
                        <input class="form-control" type="number" id="hoursinday" name="hoursinday" min=2 max=16>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                        <label>Lunch break</label>
                        <input class="form-control" type="time" id="lunchstart" name="lunchstart"> -
                        <input class="form-control" type="time" id="lunchend" name="lunchend">
                      </div>
                      <div class="col-sm-6">
                          <label>Theory/Lab  </label>
                          <select class="form-control" name="theoryorlab" id="theoryorlab">
                            <option value="theory">Theory</option>
                            <option value="lab">Lab</option>
                            <option value="both">Both</option>
                          </select>
                      </div>
                  </div>
              </form> <br>
              <button class="btn btn-dark nextbtn" href="#car" data-slide="next">Next</button>
          </div>
          <div class="carousel-item">
            <h2>2. Campus Structure</h2> <br>
            <form id="form2">
              <div class="row">
                <div class="col-sm-6">
                  <label>How many departments?</label>
                  <input class="form-control" id="numofdepartments" name="numofdepartments" type="number" min="1" max="10">
                </div>
                <div class="col-sm-6">
                  <label>How many buildings?</label>
                  <input class="form-control" id="numofbuildings" name="numofbuildings" type="number" min="1" max="10">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6" id="departments">

                </div>
                <div class="col-sm-6" id="buildings">

                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <label>How many classrooms?</label>
                  <input class="form-control" id="numofclassrooms" name="numofclassrooms" type="number" min="1" max="40">
                </div>
                <div class="col-sm-6">
                  <label>How many labs?</label>
                  <input class="form-control" id="numoflabs" name="numoflabs" type="number" min="1" max="20">
                </div>
              </div>
            </form>
            <button class="btn btn-dark nextbtn" href="#car" data-slide="next">Next</button>
          </div>
          <div class="carousel-item">
            <h2>3. Faculty Information</h2> <br>
            <button class="btn btn-sm btn-info" style="float: right; margin-bottom: 3px;" id="add-teacher"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
            <table class="table" id="table">
              <thead>
                <th>Faculty ID</th>
                <th>Name</th>
                <th>E-mail</th>
              </thead>
              <tbody>
                <tr>
                  <td><input type="text" class="form-control teacher-id" placeholder="Faculty ID"></td>
                  <td><input type="text" class="form-control teacher-name" placeholder="Faculty Name"></td>
                  <td><input type="text" style="width: 350px !important" class="form-control teacher-email" placeholder="Email ID"></td>
                </tr>
              </tbody>
            </table>
            <button class="btn btn-dark nextbtn" href="#car" data-slide="next">Next</button>
        </div>
        <div class="carousel-item">
          <h2>4. Course Information</h2> <br>
          <button class="btn btn-sm btn-info" style="float: right; margin-bottom: 3px;" id="add-course"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
          <table class="table" id="table2">
            <thead>
              <th>Course ID</th>
              <th>Course Name</th>
              <th>Credits</th>
              <th>Type</th>
              <th>Elective</th>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" class="form-control course-id" placeholder="Course ID"></td>
                <td><input type="text" class="form-control course-name" placeholder="Name"></td>
                <td><input type="number" class="form-control course-credits" min="1" max="9"></td>
                <td>
                  <select class="form-control course-theory-or-lab" name="course-theoryorlab" id="course-theoryorlab">
                    <option value="theory">Theory</option>
                    <option value="lab">Lab</option>
                    <option value="both">Both</option>
                  </select>
                </td>
                <td>
                  <label class="checkbox form-control-lg"><input type="checkbox" class="check" value=""></label>
                </td>

              </tr>
            </tbody>
          </table>
          <a href="/admin/create/step-2"><button style="float: right" class="special-btn" id="submit-btn" >Submit</button></a>
      </div>


        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#car" data-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next" href="#car" data-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>

      </div>
</div>

<%- include ("../partials/footer") %>
<script type="text/javascript" src="../javascripts/admin/create.js"></script>
