<%- include ("./partials/header") %>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
</head>

<div class="container">
    <div class="container" id="heading">
        <span class="dot"></span> 
        <h1 style="display: inline;">  Create a new Time Table</h1>
    </div>
    <div class="row">
        <div class="col-md-3" id="menu">
            1. Here's what we need
        </div>
        <div class="col-md-9" id="content">
            <li>Days in a week - 5 or 6?</li>
            <li>Number of hours in a day - choose between 1 - 12. </li>
            <li>...</li>
            <li>...</li>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" id="menu">
            2. Editable Constraints
        </div>
        <div class="col-md-9" id="content">
            <li>Free slots in between. </li>
            <li>Preferred classrooms. </li>
            <li>...</li>
            <li>...</li>
        </div>
    </div>
</div>

<%- include ("./partials/footer") %>