<%- include ("./partials/header") %>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
</head>
<div class="container" id="content">
  <img src="/images/aboutt.jpg" class="img">
    <!-- <div class="flex-container">
      <div class="heading">
        - ABOUT US -
      </div>
    </div> -->
    <br>
    <br>
    <h3 class="h3"> - MANDATORY -</h3>
    <div class="flex-container">
        <div class="box">
        <img src="/images/time.jpg" id="imgic">
        <h3>Laid back or Jam Packed?</h3>
        <div class="text">Students are allowed to choose the number of days in a week that they wish to attend classes</div>
        </div>
        <div class="box">
        <img src="/images/free.jpg" id="imgic"> 
        <h3>When are you available?</h3>
        <div class="text">
          According to the course load, students can include more hours than the minimum requirement</div>
        </div>
        <div class="box">
        <img src="/images/course.png" id="imgic"> 
        <h3>What piques your interest?</h3>
        <div class="text">
          No core courses. Driven by your interests, you can mix and match your courses for the semester</div>
        </div>
      </div>
      <br>
      <h3 class="h3"> - OPTIONAL -</h3>
      <div class="flex-container">
        <div class="box">
        <img src="/images/runner.jpg" id="imgic">
        <h3> Need a break?</h3>
        <div class="text">Choose a number of free slots for a weekly basis and take a breather during your courseload</div>
        </div>
        <div class="box">
          <img src="/images/class.png" id="imgic"> 
        <h3> Preferred classrooms</h3>
        <div class="text">
          A block too far? Or a floor too far up? Let's help you customize accordingly
        </div>
      </div>
</div>
<%- include ("./partials/footer") %>