<%- include ("./partials/header") %>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
</head>
<div class="container" id="splash">
    <h1>Create and manage your brand new timetable!</h1>
    <a href="/users"><button class="bubbly-button" id="btn">Get Started!</button></a>

</div>

<%- include ("./partials/footer") %>
<script type="text/javascript" src="/javascripts/home.js"></script>