* {
  font-family: 'Rubik', sans-serif;
}
#head {
  font-family: 'Rubik', sans-serif;
  color: #1D3557;
}

#head h3 {
  color: #457B9D;
  text-decoration: underline;
}
.timetable {
  display: grid;
  grid-template-areas: ". week" "time content";
  grid-template-columns: 120px;
  grid-template-rows: 50px;
  width: 900px;
  height: 600px;
  font-family: 'Kumbh Sans', sans-serif;
}
.timetable .accent-pink-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #ee8ebc, #eea08e);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-pink-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(238, 142, 188, 0.3);
  transform: scale(1.05);
}
.timetable .accent-orange-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #eec08e, #dcee8e);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-orange-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(238, 192, 142, 0.3);
  transform: scale(1.05);
}
.timetable .accent-green-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #bcee8e, #8eeea0);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-green-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(188, 238, 142, 0.3);
  transform: scale(1.05);
}
.timetable .accent-cyan-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #8eeec0, #8edcee);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-cyan-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(142, 238, 192, 0.3);
  transform: scale(1.05);
}
.timetable .accent-blue-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #8ebcee, #a08eee);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-blue-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(142, 188, 238, 0.3);
  transform: scale(1.05);
}
.timetable .accent-purple-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #c08eee, #ee8edc);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-purple-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(192, 142, 238, 0.3);
  transform: scale(1.05);
}
.timetable .weekend {
  background: #fbfbfc;
  color: #87a1ad;
}
.timetable .week-names {
  grid-area: week;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-transform: uppercase;
  font-size: 12px;
}
.timetable .week-names > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow: inset 1px 0 0 #eceff1;
}
.timetable .time-interval {
  grid-area: time;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  font-size: 14px;
}
.timetable .time-interval > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 1px 0 0 #eceff1;
}
.timetable .content {
  grid-area: content;
  display: grid;
  grid-template-rows: 77px repeat(6, 7fr);
  grid-template-columns: repeat(5, 188px);
}
.timetable .content > div {
  box-shadow: inset 1px 0 0 #eceff1, inset 0 1px 0 0 #eceff1;
}

.content div {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.content div div {
  text-align: center;
  padding: 10px;
}

.dropdown {
  display: inline;
  margin-left: 10px;
}

.form-group {
  width: 20%;
  margin-right: 3%;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
form button {
  margin-top: 30px;
  height: 30px;
}

#viewanother h4, #faculty h4 {
  color: #457B9D;
}

#faculty {
  margin: 3%;
  margin-top: 5%;
  height: 500px;
}

.searchbar {
  background-color: #F1FAEE;
  padding: 6px 10px;
  width: 120px;
  border: none;
  margin-top: 1px;
  margin-right: 8px;
  font-size: 1em;
  border-bottom: white solid 2px;
  transition: 0.3s;
}

.searchbar::placeholder {
  font-size: 1em;
  color: #91AFDA;
  /* transition: 0.2s; */
}

.searchbar:focus {
  width: 400px;
  font-size: 1em;
  transition: 0.3s;
  /* Stops the input box from inheriting the styling from the inputs on the request form */
  border-bottom: white solid 2px;
  outline: none;
}

.btn-search {
  cursor: pointer;
  color: #1D3557;
  text-decoration: none !important;
  font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
  font-size: 1.5em;
  padding-top: 5px;
  margin-right: 40px;
}