body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

.brand-img
{
  width: 100px;
  height:100px;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.navbar {
  padding: 0;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(5n+1):before {
    background-color: #5d709b;   
}
.sidebar-nav li:nth-child(5n+2):before {
    background-color: #0e3886;   
}
.sidebar-nav li:nth-child(5n+3):before {
    background-color: #2d4483;   
}
.sidebar-nav li:nth-child(5n+4):before {
    background-color: #3952a1;   
}
.sidebar-nav li:nth-child(5n+5):before {
    background-color: #5164a3;   
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.sidebar-header {
    text-align: center;
    font-size: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
}
.sidebar-brand {
    height: 65px;
    position: relative;
    background:#212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
   padding-top: 1em;
}
.sidebar-brand a {
    color: #ddd;
}
.sidebar-brand a:hover {
    color: #fff;
    text-decoration: none;
}
.dropdown-header {
    text-align: center;
    font-size: 1em;
    color: #ddd;
    background:#212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}
.dropdown-menu.show {
    top: 0;
}
/*Fontawesome icons*/
.nav.sidebar-nav li a::before {
    font-family: fontawesome;
    content: "\f12e";
    vertical-align: baseline;
    display: inline-block;
    padding-right: 5px;
}
a[href*="./index.html"]::before {
  content: "\f015" !important;
}
a[href*="#dashboard"]::before {
  content: "\f0e7" !important;
}
a[href*="./view.html"]::before {
  content: "\f129" !important;
}
a[href*="#events"]::before {
  content: "\f073" !important;
}
a[href*="#change"]::before {
  content: "\f044" !important;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;  
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(27, 36, 66, 0.65);
    z-index: 1;
}
/*--------------------------------------*/
/*              HOME SCREEN             */
/*--------------------------------------*/
.h1home {
  font-family: 'Inter', sans-serif;
  font-size: 65px;
  text-align: center;
  color: #101936;
}

.quotes {
  font-family: 'Lusitana', serif;
  font-size: 29px;
  text-align: center;
  color: #12245f;
}
.image1
{
  width: 290px;
  height: 41px;
  position: fixed;
  display: block;
  bottom: 10px;
  margin-left: 410px;
  margin-right: auto;
}
.accent-orange-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(135deg, #f7bc7d, #f3e45e);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
  padding: 20px;
  box-shadow: 0 20px 20px 0 rgba(238, 192, 142, 0.3);
}
.accent-orange-gradient:hover {
  box-shadow: 0 20px 20px 0 rgba(238, 192, 142, 0.3);
  transform: scale(1.04);
}

/* ------------------------------------*/
/*              TIME TABLE             */
/*-------------------------------------*/
* {
  font-family: 'Inter', sans-serif;
}
#head h2 {
  font-family: 'Questrial', sans-serif;
  color: #1D3557;
}

#head h3 {
  color: #035588;
  font-family: 'IBM Plex Serif', serif;
  text-decoration: underline;
}

.timetable {
  display: grid;
  grid-template-areas: ". week" "time content";
  grid-template-columns: 120px;
  grid-template-rows: 50px;
  width: 900px;
  height: 600px;
  font-family: 'Kumbh Sans', sans-serif;
}
.timetable .accent-pink-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #ee8ebc, #eea08e);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-pink-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(238, 142, 188, 0.3);
  transform: scale(1.05);
}
.timetable .accent-orange-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #eec08e, #dcee8e);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-orange-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(238, 192, 142, 0.3);
  transform: scale(1.05);
}
.timetable .accent-green-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #bcee8e, #8eeea0);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-green-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(188, 238, 142, 0.3);
  transform: scale(1.05);
}
.timetable .accent-cyan-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #8eeec0, #8edcee);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-cyan-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(142, 238, 192, 0.3);
  transform: scale(1.05);
}
.timetable .accent-blue-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #8ebcee, #a08eee);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-blue-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(142, 188, 238, 0.3);
  transform: scale(1.05);
}
.timetable .accent-purple-gradient {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #c08eee, #ee8edc);
  transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-purple-gradient:hover {
  box-shadow: 0 20px 30px 0 rgba(192, 142, 238, 0.3);
  transform: scale(1.05);
}
.timetable .weekend {
  background: #fbfbfc;
  color: #87a1ad;
}
.timetable .week-names {
  grid-area: week;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-transform: uppercase;
  font-size: 12px;
}
.timetable .week-names > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow: inset 1px 0 0 #eceff1;
}
.timetable .time-interval {
  grid-area: time;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  font-size: 14px;
}
.timetable .time-interval > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 1px 0 0 #eceff1;
}
.timetable .content {
  grid-area: content;
  display: grid;
  grid-template-rows: 77px repeat(6, 7fr);
  grid-template-columns: repeat(5, 188px);
}
.timetable .content > div {
  box-shadow: inset 1px 0 0 #eceff1, inset 0 1px 0 0 #eceff1;
}

.content div {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.content div div {
  text-align: center;
  padding: 10px;
}

.dropdown {
  display: inline;
  margin-left: 10px;
}

.form-group {
  width: 20%;
  margin-right: 3%;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
form button {
  margin-top: 30px;
  height: 30px;
}

#viewanother h4, #faculty h4 {
  color: #457B9D;
}

#faculty {
  margin: 3%;
  margin-top: 5%;
  height: 500px;
}

.searchbar {
  background-color: #F1FAEE;
  padding: 6px 10px;
  width: 120px;
  border: none;
  margin-top: 1px;
  margin-right: 8px;
  font-size: 1em;
  border-bottom: white solid 2px;
  transition: 0.3s;
}

.searchbar::placeholder {
  font-size: 1em;
  color: #91AFDA;
  /* transition: 0.2s; */
}

.searchbar:focus {
  width: 400px;
  font-size: 1em;
  transition: 0.3s;
  /* Stops the input box from inheriting the styling from the inputs on the request form */
  border-bottom: white solid 2px;
  outline: none;
}

.btn-search {
  cursor: pointer;
  color: #1D3557;
  text-decoration: none !important;
  font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
  font-size: 1.5em;
  padding-top: 5px;
  margin-right: 40px;
}
a:link {
  color: whitesmoke;
}

/* visited link */
a:visited {
  color: whitesmoke;
}

/*----------------------------*/
/*      FAC - DASHBOARD       */
/*---------------------------*/
#contentdash {
  border: 5px solid rgb(3, 23, 66);
  width: 100%;
  padding: 4% 3%;
  height: 200%;
}
.mainb {
  display:inline-block;
  margin-right: 10px;
  background: linear-gradient(135deg, #c0bab5, #daab54);
  width: 100%;
  margin: 10px;
  text-align: center;
  padding: 20px;
  line-height: 75px;
  font-size: 15px;
}
.box {
  display:inline-block;
  margin-right: 10px;
  background: linear-gradient(135deg, #eee9e4, #ebbe6b);
  width: 77%;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
  padding: 20px;
  line-height: 75px;
  font-size: 15px;
}
.circler{
  display: inline-block;
  background: linear-gradient(135deg, #daab54, #97a4e0);
  width: auto;
  margin: 10px;
  float: right;
  text-align: center;
  padding: 5px;
  border-radius:50%;
  line-height: 75px;
  font-size: 15px;
}
.circlel{
  display: inline-block;
  background: linear-gradient(135deg, #97a4e0, #daab54);
  width: auto;
  float:left;
  margin: 10px;
  text-align: center;
  padding: 5px;
  border-radius:50%;
  line-height: 75px;
  font-size: 15px;
}
#imgic{
  align-content: center;
  height: 20px;
}
.text-dash{
  text-align: center;
  font-family: 'Source Serif Pro', serif;
  font-size: larger;
  line-height: 15pt;
}
.h3-dash{
  text-align: center;
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  color: rgb(9, 39, 94);
}