 <!-- partial:index.partial.html -->
  <div id="wrapper">
        <div id="page-content-wrapper">
            <%- include("../partials/sideProfile") %>
              <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                  <span class="hamb-top"></span>
                  <span class="hamb-middle"></span>
                  <span class="hamb-bottom"></span>
              </button>
              <div class="container">
                  <div class="row">
                      <div class="col-lg-8 col-lg-offset-2">
                        <div class="container">
                            <div class="container" id="head">
                                <h3 style="text-align: right;">Your Timetable</h3>
                                <br><br>
                            </div>
                            <div class="timetable">
                                <div class="week-names">
                                  <div>monday</div>
                                  <div>tuesday</div>
                                  <div>wednesday</div>
                                  <div>thursday</div>
                                  <div>friday</div>
                                </div>
                                <div class="time-interval">
                                  <div>9:00 - 10:00</div>
                                  <div>10:00 - 11:00</div>
                                  <div>11:00 - 12:00</div>
                                  <div>12:00 - 13:00</div>
                                  <div>14:00 - 15:00</div>
                                  <div>15:00 - 16:00</div>
                                </div>
                                <div class="content">
                                  <div>
                                    <div class="accent-blue-gradient">
                                        15CSE18302
                                        <br> Potions <br>
                                        III CSE - D
                                    </div>
                                  </div>
                                  <div>
                                    <div></div>
                                  </div>
                                  <div>
                                    <div></div>
                                  </div>
                                  <div></div>
                                      <div>
                                    <div class="accent-blue-gradient">
                                        15CSE18302
                                        <br> Potions <br>
                                        III CSE - D
                                    </div>
                                  </div>
                                  <div></div>
                                  <div>
                                    <div></div>
                                  </div>
                                  <div>
                                    <div class="accent-blue-gradient">
                                        15CSE18302
                                        <br> Potions <br>
                                        III CSE - D
                                    </div>
                                  </div>
                                  <div>
                                    <div class="accent-cyan-gradient">
                                        15CSE001
                                        <br>Transfiguration<br>
                                        I CSE - A
                                    </div>
                                  </div>
                                  <div>
                                    <div></div>
                                  </div>
                                  <div>
                                    <div class="accent-bleu-gradient">
                                        15CSE381
                                        <br>Potions Lab<br>
                                        III CSE - D
                                    </div>
                                  </div>
                                  <div>
                                    <div class="accent-bleu-gradient">
                                        15CSE381
                                        <br>Potions Lab<br>
                                        III CSE - D
                                    </div>
                                  </div>
                                  <div>
                                    <div></div>
                                  </div>
                                  <div>
                                    <div></div>
                                  </div>
                                  <div></div>
                                  <div>
                                    <div></div>
                                  </div>
                                  <div></div>
                                  <div>
                                    <div class="accent-cyan-gradient">
                                        15CSE001 
                                        <br>Transfiguration<br>
                                        I CSE - A
                                    </div>
                                  </div>
                                  <div></div>
                                  <div>
                                    <div></div>
                                  </div>
                                  <div>
                                    <div></div>
                                  </div>
                                  <div>
                                    <div class="accent-blue-gradient">
                                        15CSE18302
                                        <br> Potions <br>
                                        III CSE - D
                                    </div>
                                  </div>
                                  <div></div>
                                  <div></div>
                                  <div>
                                    <div class="accent-cyan-gradient">
                                        15CSE001
                                        <br>Transfiguration<br>
                                        I CSE - A
                                    </div>
                                  </div>
                                  <div>
                                    
                                  </div>
                                  <div>
                                    <div class="accent-cyan-gradient">
                                        15CSE001 
                                        <br>Transfiguration<br>
                                        I CSE - A
                                    </div>
                                  </div>
                                  <div></div>
                                  <div>
                                    <div></div>
                                  </div>
                                  <div>
                                    <div class="accent-class-gradient">
                                        -
                                        <br> MENTORING <br>
                                        III CSE - D
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- /#page-content-wrapper -->
          <hr style="width: 80%">
<br>
<div class="container" id="viewanother">
    <h4>View another Timetable</h4>
    <form>
        <div class="form-group">
            <label for="sel1">Course</label>
            <select class="form-control" id="sel1">
              <option>BTech</option>
              <option>MTech</option>
              <option>MBA</option>
              <option>Int. Sci.</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sel1">Branch</label>
            <select class="form-control" id="sel1">
              <option>AEE</option>
              <option>AIE</option>
              <option>CHE</option>
              <option>CIE</option>
              <option>CSE</option>
              <option>ECE</option>
              <option>EEE</option>
              <option>EIE</option>
              <option>MEE</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sel1">Semester</label>
            <select class="form-control" id="sel1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sel1">Section</label>
            <select class="form-control" id="sel1">
              <option>A</option>
              <option>B</option>
              <option>C</option>
              <option>D</option>
              <option>E</option>
            </select>
        </div>
        <button class="btn btn-sm btn-info"><a href="/view">View</a></button>
    </form>
      </div>
      <!-- /#wrapper -->
  </body>
  
  