<%- include ("../partials/header") %>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/users/login.css">
</head>
<div class="container" id="signin">
    <div class="login" id="option1">
        <h1>SIGN IN</h1>
        <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
        <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
    </div>
    <div class="login" id="option2">
        <form style="margin-top: 80px;">
            <label for="email">EMAIL</label>
            <div class="form-group">
                <input type="text" name="email" id="email">
            </div>
            <label for="password">PASSWORD</label>
            <div class="form-group">
                <input type="password" name="password" id="password">
            </div>
            <div><button class="btn btn-dark" type="submit" class="submit-btn">Login</button>  <span id="temp">or</span> <a id="toggle" href="/users/register">Sign Up</a> </div>
        </form>
        <div class="container" id="options">
            <a>Forgot password?</a>
        </div>
    </div>
</div>
<%- include ("../partials/footer") %>
<script type="text/javascript" src="../javascripts/users/login.js"></script>
