<div id="wrapper">
    <div id="page-content-wrapper">
        <%- include ("../partials/user-sidenav") %>
        <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div class="container" id="contentdash">
            <div class="mainb">
                <h3> Welcome to your Dashboard, Minerva</h3>
            </div>
            <div>
              <div class="box">
                  <h3 class="h3-dash">Student ID</h3>
                  <div class="text-dash">gr18014</div>
              </div>
              <div class="circler"> 
                  <img src="/images/circle-cropped.png" class="imgic">
             </div>
          </div>
          <div>
              <div class="circlel"> 
                  <img src="/images/circle-cropped.png" class="imgic">
             </div>
              <div class="box">
                  <h3 class="h3-dash">Full Name</h3>
                  <div class="text-dash"><em>Hermoine Granger</em></div>
              </div>
          </div>
          <div>
              <div class="box">
                  <h3 class="h3-dash">Student Email</h3>
                  <div class="text-dash">gr18014@hogwarts.edu</div>
              </div>
              <div class="circler"> 
                  <img src="/images/circle-cropped.png" class="imgic">
             </div>
          </div>
          <div>
              <div class="circlel"> 
                  <img src="/images/circle-cropped.png" class="imgic">
             </div>
              <div class="box">
                  <h3 class="h3-dash">Courses Enrolled</h3>
                  <div class="text-dash"> Transfiguration <br> Charms <br> Herbology </div>
              </div>
          </div>
          <hr style="width: 80%">
          <br>
          <div class="container" id="viewanother">
              <h4>View another Timetable</h4>
              <form>
                  <div class="form-group">
                      <label for="sel1">Course</label>
                      <select class="form-control" id="sel1">
                          <option>BTech</option>
                          <option>MTech</option>
                          <option>MBA</option>
                          <option>Int. Sci.</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label for="sel1">Branch</label>
                      <select class="form-control" id="sel1">
                          <option>AEE</option>
                          <option>AIE</option>
                          <option>CHE</option>
                          <option>CIE</option>
                          <option>CSE</option>
                          <option>ECE</option>
                          <option>EEE</option>
                          <option>EIE</option>
                          <option>MEE</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label for="sel1">Semester</label>
                      <select class="form-control" id="sel1">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label for="sel1">Section</label>
                      <select class="form-control" id="sel1">
                          <option>A</option>
                          <option>B</option>
                          <option>C</option>
                          <option>D</option>
                          <option>E</option>
                      </select>
                  </div>
                  <button class="btn btn-sm btn-info"><a href="/view">View</a></button>
           </div>
           <div class="container" id="faculty">
              <h4>View a Faculty's Timetable</h4> 
              <div style="display: inline;">
                  <input id="searchBar" class="searchbar" type="text" placeholder="Search...">
            <a id="btnSearch" class="btn-search"><i class="fa fa-search"></i></a>
              </div>
          </div>
    </div>
    </div>