<div id="wrapper">
    <div id="page-content-wrapper">
        <%- include ("../partials/user-sidenav") %>
        <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div class="container">
            <div class="container" id="head">
                <h3 style="text-align: right;">Your Timetable</h3>
            </div>
            <div class="timetable">
                <div class="week-names">
                  <div>monday</div>
                  <div>tuesday</div>
                  <div>wednesday</div>
                  <div>thursday</div>
                  <div>friday</div>
                </div>
                <div class="time-interval">
                  <div>9:00 - 10:00</div>
                  <div>10:00 - 11:00</div>
                  <div>11:00 - 12:00</div>
                  <div>12:00 - 13:00</div>
                  <div>14:00 - 15:00</div>
                  <div>15:00 - 16:00</div>
                </div>
                <div class="content">
                  <div>
                    <div class="accent-green-gradient">
                        15CSE18302
                        <br> DBMS <br>
                        Dr. G Jeyakumar
                    </div>
                  </div>
                  <div>
                    <div class="accent-purple-gradient">
                        15CSE375
                        <br>Android Development<br>
                        Ms. K P Jevitha
                    </div>
                  </div>
                  <div>
                    <div class="accent-orange-gradient">
                        15CSE18301
                        <br> COA <br>
                        Mr. Manu Madhavan
                    </div>
                  </div>
                  <div></div>
                      <div>
                    <div class="accent-green-gradient">
                        15CSE18302
                        <br> DBMS <br>
                        Dr. G Jeyakumar
                    </div>
                  </div>
                  <div></div>
                  <div>
                    <div class="accent-pink-gradient">
                        15MAT301
                        <br>Linear Algebra<br>
                        Dr. A Santhakumar
                    </div>
                  </div>
                  <div>
                    <div class="accent-green-gradient">
                        15CSE18302
                        <br> DBMS <br>
                        Dr. G Jeyakumar
                    </div>
                  </div>
                  <div>
                    <div class="accent-cyan-gradient">
                        15CSE303 
                        <br>Theory of Computation<br>
                        Dr. M Senthilkumar
                    </div>
                  </div>
                  <div>
                    <div class="accent-pink-gradient">
                        15MAT301
                        <br>Linear Algebra<br>
                        Dr. A Santhakumar
                    </div>
                  </div>
                  <div>
                    <div class="accent-pink-gradient">
                        15MAT301
                        <br>Linear Algebra<br>
                        Dr. A Santhakumar
                    </div>
                  </div>
                  <div></div>
                  <div>
                    <div class="accent-purple-gradient">
                        15CSE375
                        <br>Android Development<br>
                        Ms. K P Jevitha
                    </div>
                  </div>
                  <div>
                    <div class="accent-pink-gradient">
                        15MAT301
                        <br>Linear Algebra<br>
                        Dr. A Santhakumar
                    </div>
                  </div>
                  <div></div>
                  <div>
                    <div class="accent-orange-gradient">
                        15CSE18301
                        <br> COA <br>
                        Mr. Manu Madhavan
                    </div>
                  </div>
                  <div></div>
                  <div>
                    <div class="accent-cyan-gradient">
                        15CSE303 
                        <br>Theory of Computation<br>
                        Dr. M Senthilkumar
                    </div>
                  </div>
                  <div></div>
                  <div>
                    <div class="accent-orange-gradient">
                        15CSE18301
                        <br> COA <br>
                        Mr. Manu Madhavan
                    </div>
                  </div>
                  <div>
                    <div class="accent-purple-gradient">
                        15CSE375
                        <br>Android Development<br>
                        Ms. K P Jevitha
                    </div>
                  </div>
                  <div>
                    <div class="accent-green-gradient">
                        15CSE18302
                        <br> DBMS <br>
                        Dr. G Jeyakumar
                    </div>
                  </div>
                  <div></div>
                  <div></div>
                  <div>
                    <div class="accent-cyan-gradient">
                        15CSE303 
                        <br>Theory of Computation<br>
                        Dr. M Senthilkumar
                    </div>
                  </div>
                  <div>
                    
                  </div>
                  <div>
                    <div class="accent-cyan-gradient">
                        15CSE303 
                        <br>Theory of Computation<br>
                        Dr. M Senthilkumar
                    </div>
                  </div>
                  <div></div>
                  <div>
                    <div class="accent-orange-gradient">
                        15CSE18301
                        <br> COA <br>
                        Mr. Manu Madhavan
                    </div>
                  </div>
                  <div>
                    <div class="accent-purple-gradient">
                        15CSE375
                        <br>Android Development<br>
                        Ms. K P Jevitha
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <hr style="width: 80%">
        <br>
        <div class="container" id="viewanother">
            <h4>View another Timetable</h4>
            <form>
                <div class="form-group">
                    <label for="sel1">Course</label>
                    <select class="form-control" id="sel1">
                      <option>BTech</option>
                      <option>MTech</option>
                      <option>MBA</option>
                      <option>Int. Sci.</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sel1">Branch</label>
                    <select class="form-control" id="sel1">
                      <option>AEE</option>
                      <option>AIE</option>
                      <option>CHE</option>
                      <option>CIE</option>
                      <option>CSE</option>
                      <option>ECE</option>
                      <option>EEE</option>
                      <option>EIE</option>
                      <option>MEE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sel1">Semester</label>
                    <select class="form-control" id="sel1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sel1">Section</label>
                    <select class="form-control" id="sel1">
                      <option>A</option>
                      <option>B</option>
                      <option>C</option>
                      <option>D</option>
                      <option>E</option>
                    </select>
                </div>
                <button class="btn btn-sm btn-info">View</button>
            </form>
        </div>
        <div class="container" id="faculty">
            <h4>View a Faculty's Timetable</h4> 
            <div style="display: inline;">
                <input id="searchBar" class="searchbar" type="text" placeholder="Search...">
          <a id="btnSearch" class="btn-search"><i class="fa fa-search"></i></a>
            </div>
        </div>
    </div>
    </div>